/* Write your code here. */
* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.card-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
}

.card-heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .card-heading {
    font-size: 64px;
  }
}
.profile-container {
  background-color: #cffafe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  border-radius: 12px;
  padding: 24px;
  margin-top: 18px;
}

@media screen and (min-width: 768px) {
  .profile-container {
    width: 50%;
    padding: 48px;
    margin-top: 24px;
  }
}

@media screen and (min-width: 992px) {
  .profile-container {
    width: 40%;
  }
}

@media screen and (min-width: 1200px) {
  .profile-container {
    width: 30%;
  }
}

.profile-image {
  width: 145px;
  height: 145px;
}

.profile-name {
  color: #1e293b;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  margin-top: 24px;
}

@media screen and (min-width: 768px) {
  .profile-name {
    font-size: 32px;
  }
}

.profile-description {
  color: #1e293b;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .profile-description {
    font-size: 18px;
  }
}

.watch-image {
  margin-top: 24px;
}
